.map {
    height: 100%;
    width: 100%;
}

#map2 {
    width: 42%;
}

#bg {
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: white;
}

#map1 {
    position: absolute;
    z-index: 2;
    top: 0;

    -webkit-clip-path: polygon(100% 0, 16% 0, 43% 50%, 16% 100%, 100% 100%);
    clip-path: polygon(100% 0, 16% 0, 43% 50%, 16% 100%, 100% 100%);
}

#map2 {
    position: absolute;
    top: 0px;
    z-index: 3;

    -webkit-clip-path: polygon(0% 0%, 35% 0, 100% 50%, 35% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 35% 0, 100% 50%, 35% 100%, 0% 100%);
}
